.header img {
    width: 50px;   
}

.header a {
    color: aliceblue;
    font-size: 20px;
    text-transform: uppercase;
    transition: .4s;
}


.header a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background-color:#ffbd39;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}

.header a:hover:after {
    width: calc(100% + 0px);
}

.header a:hover {
    background: #ffbd39;
}


.carousel-item {
    height:600px;
}

.card-imagess{
    height: 274px;
}
.documents-section .box {
    border-radius: 30px;
}

.gallery-section .box {
    border-radius: 30px;
}
.contact-section .box {
    border-radius: 30px;
}
.from {
    width: 100%;
}
element.style {
    width: 50%;
}

/* --- Footer --- */
footer {
    background-color: var(--lwa-dark);
}
footer a {
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}



/* Custom Modal */
.custom-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.custom-modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
}

.custom-modal-content h3 {
  margin-top: 15px;
}

.custom-modal-content button {
  margin-top: 20px;
  padding: 8px 20px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
}

.check-icon {
  font-size: 40px;
  color: green;
}
